strong {
	font-weight: bold;
}

i {
	font-style: italic;
}

a{
	text-decoration: none;
}

/*Background do menu*/

.back  { 
	background-image: radial-gradient(LimeGreen,DarkGreen);
	background-size: 100%;
	background-repeat: no-repeat;
}

/* menu principal*/

.chec {
	display: none;
}

.nav {
	text-align: center;
	color: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;

}

.cabecalho a{
	text-decoration: none;
	color: #ffffff;
}

.nome-agencia {
	color: white;
	padding: 30px 0;
	text-align: center;
	font-size: 33px;
	border-bottom: solid 1px #ffffff;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	background: rgb(0,0,0,0.3);
	cursor: pointer; 
}

.nav li {
	color: #ffffff;
	display: inline;
	padding: 13px 13px;
	text-align: center;
	cursor: pointer;

}

.nav li:hover {
	border-bottom: solid 1px #ffffff;
	font-weight: bold;
	background: rgb(0,0,0,0.4);
}

/*Lista Fixa*/

.h-listas {
	padding-left: 8px;
	text-align: center;
	background: #f6f6f7;
	padding: 10px 20px;
	border-top: solid 2px #9ACD32;
	font-size: 14px;
	font-weight: bold;
}

.elemento-lista a {
	text-decoration: none;
	color: #000000;
}

.listas-fixa {
	margin-left: 100px;
	margin-right: 50px;
	margin-top: 30px;
	font-size: 12px;
	float: left;
	width: 15%;
	text-decoration: none;
	
}

.lista-ind {
	margin-bottom: 20px;

}

.elemento-lista {
	padding-left: 8px;
	padding-bottom: 1em;
	padding: 1em 0;
	text-align: center;
	border-bottom: solid 1px #DCDCDC;
	text-decoration: none;
	cursor: pointer;

}

.elemento-lista:hover {
	font-weight: bold;
	background: #f6f6f7;
}

/*Transparencia*/

.h-transparencia {
	padding-bottom: 10px;
}

.transparencia {
	margin-top: 10px;
	background: #ffffff;
	text-align: center;
	padding: 10px 0;
}

.transparencia p {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px; 
}

.icones-transparencia {
	display: inline;
	background: #ffffff;
	margin-right: 15px;
	padding-bottom: 5px;
	opacity: 0.5;
	transition: 1s;
	
}

.icones-transparencia:hover {
	opacity: 1;
}

/*rodape*/

.rodape {
	clear: left;
	margin-top: 20px;
}

.img-rodape {
	background: #0a4a22;
	background-size: 100%;
}

.img-rodape .img1 { 
	display: inline;
	width: 10%;
	margin-left: 100px;
	vertical-align: middle;
}

.img-rodape .img2 { 
	width: 10%;
	vertical-align: middle;
	margin-left: 1050px;
}

.copyright {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #A9A9A9;
	background: #ffffff;
	clear: left;
	font-size: 15px;
	padding: 4px 0;
}

@media screen and (max-width: 768px) {
	.nome-agencia {
		font-size: 22px;
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;
	}

	input[type="checkbox"]{
		display: none;
	}
	

	.chec {
		display: inline;
	}

	.menu-hamburge {
		width: 20px;
		position: absolute;
		left: 90%;
		top: 10%
	}

	.nav {
		display: none;
	}

	.listas-fixa {
		display: none;
	}

	.icones-transparencia {
		width: 10%;
		opacity: 1;
	}

	.img-rodape {
		padding: 30px 0;
	}

	.img-rodape .img1 {
		width: 30%;
		margin-left: 20px;
	}

	.img-rodape .img2 {
		margin-left: 125px;
		width: 30%;
	}
	
}

@media screen and (max-width: 1024px) {
	*{
		margin: 0 0;
		padding: 0 0 ;
	}

	html, body {
		height: 100%;
	}
}